.button {
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-min-height: 30;
    -fx-border-radius: 4;
    -fx-font-size: 12;
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.btn-success, button {
    -fx-text-fill: #fff;
    -fx-background-color: #5cb85c;
    -fx-border-color: #4cae4c;
    -fx-background-color: linear-gradient(to top, #5cb85c, #5ce05c);
}

.btn-success:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-text-fill: #fff;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: #006500;
}

.btn-success:pressed:hover {
    -fx-background-color: linear-gradient(to top, #5ce15c, #34a33a);
    -fx-border-color: #027f28;
    -fx-scale-y: 0.991;
    -fx-scale-x: 0.991;
}

.btn-success:hover {
    -fx-text-fill: #EAEDED;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(to top, #34a33a, #5ce15c);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.btn-danger, button {
    -fx-text-fill: #fff;
    -fx-border-color: #bd0005;
    -fx-background-color: linear-gradient(to top, #bd0005, #ff0005);
}

.btn-danger:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.7, 0.0, 0.0);
    -fx-text-fill: #fff;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: #bd0005;
}

.btn-danger:pressed:hover {
    -fx-background-color: linear-gradient(to top, #ff0005, #bd0005);
    -fx-border-color: #bd0005;
    -fx-scale-y: 0.991;
    -fx-scale-x: 0.991;
}

.btn-danger:hover {
    -fx-text-fill: #EAEDED;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(to top, #bd0005, #E74C3C);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.btn-primary, button {
    -fx-text-fill: #fff;
    -fx-border-color: #0062cc;
    -fx-background-color: linear-gradient(to top, #0002a0, #007bff);
}

.btn-primary:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.7, 0.0, 0.0);
    -fx-text-fill: #fff;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: #0002a0;
}

.btn-primary:pressed:hover {
    -fx-background-color: linear-gradient(to top, #0069d9, #0002a0);
    -fx-border-color: #0002a0;
    -fx-scale-y: 0.991;
    -fx-scale-x: 0.991;
}

.btn-primary:hover {
    -fx-text-fill: #EAEDED;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(to top, #0002a0, #0069d9);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}

.combo-box .arrow{
    -fx-background-color:#2478E9;
}

.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}

.combo-box .arrow-button{
    -fx-background-color:white;
}

.combo-box .list-cell{
    /*-fx-background-color:white;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */